.ticket-header {
    font-size: 1.3em;
}

.ticket-header-date {
    font-size: 1.2em;
}

.ticket-header span.oi {
    font-size: 0.8em;
    padding-right: 2px;
}

.ticket-header .station-time {
    white-space: nowrap;
    display: inline;
}

.ticket-header > .from-station > span:last-child {
    padding-left: 5px;
}

.ticket-header > .to-station > span:last-child {
    padding-left: 5px;
}
