/* Ticket info display header */
.ticket-header {
    font-size: 1.3em;
    margin-bottom: 5px;
}

.ticket-header-last {
    margin-bottom: 15px;
}

.ticket-info {
    font-size: 1.1em;
}

.ticket-from-to span.oi {
    font-size: 0.8em;
    padding-right: 2px;
}

.ticket-from-to .station-time {
    white-space: nowrap;
    display: inline;
    padding-right: 8px;
}

.ticket-from-to > div {
    flex-basis: 100%;
    text-align: center;
}

@media(min-width: 768px) {
    .ticket-from-to > div {
        flex-basis: auto;
    }

    .ticket-from-to > .from-station {
        text-align: right;
    }

    .ticket-from-to > .from-station {
        text-align: left;
    }
}

.ticket-from-to > .from-station {
    margin-right: 10px;
}

.ticket-from-to > .to-station {
    margin-left: 10px;
}

/* Wagon place selector */
.seat-selector {
    display: grid;

    grid-template-columns: repeat(5, 48px);

    margin-top: 20px;
    padding: 8px;

    border-radius: 10px;
    border: 5px solid var(--gray);
}

.seat-selector:after {
    content: " ";
    background-color: var(--gray);
    filter: brightness(150%);

    width: 80%;
    margin-left: auto;
    margin-right: auto;

    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row: 1 / 100;

    margin-top: -8px;
    height: calc(100% + 16px);
}

.seat-selector > div {
    grid-column-end: span 1;
    grid-row-end: span 1;

    width: 40px;
    height: 40px;
    margin: 4px;

    background-color: var(--teal);
    border-radius: 4px;

    text-align: center;

    user-select: none;
}

.seat-selector > div.enabled {
    cursor: pointer;
}

.seat-selector > div:nth-child(4n + 1) {
    grid-column-start: 1;
}

.seat-selector > div:nth-child(4n + 2) {
    grid-column-start: 2;
}

.seat-selector > div:nth-child(4n + 3) {
    grid-column-start: 4;
}

.seat-selector > div:nth-child(4n + 4) {
    grid-column-start: 5;
}
